footer p {
    font-size: medium;
    color: white;
    font-weight: 200;
}

footer{
    background-color: #5C64AC;
}

footer h5 {
    color: white;
    margin-top: 20px;
    margin-bottom: 12px;
    font-size: 1.1rem;
}

#social-handles img {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 25px;
    width: 32px;
}

/* footer #col1 {
    border-right:  2.4px solid rgba(0, 0, 0, 0.2);
}

footer #col2 {
    border-right:  2.4px solid rgba(0, 0, 0, 0.2);
}
footer  #col3 {
    border-right:  2.4px solid rgba(0, 0, 0, 0.2);
} */

@media (max-width:991px) {
footer #col2 {
 margin-top: 30px;
}

footer #col3 {
 margin-top: 30px;
}
footer  #col4 {
 margin-top: 30px;
}
}

@media (max-width:767px) {
    footer #row1 {
        text-align: center;
    }
    footer #row2 {
        text-align: center;
    }
}

footer #row1 {
    border-bottom: 2.4px solid white;
    margin-bottom: 25px;
}

 
footer #row2 #col5 img {
    height:3rem;
    width: 3rem;
}
