#container1 .btn1 {
    background-color: white;
}

#container1 .btn {
    border-radius: 20px;
}

#container1 {
    background-image: url("../img/Group\ 13922.png");
    background-repeat: no-repeat;
    /* background-size: auto; */
    background-position: center; 
    background-size: 100% 100%; 
    width: 100%;
    /* padding-top: 5rem; */
}

@media (max-width:767px) {
    #container1 {
        padding-top: 0rem;
    }
}



#container2 .card {
    box-shadow: -8px -8px 16px rgba(0, 0, 0, 0.2), 8px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 20px;  
}


#container2 .card p{
    font-size: small;
}

#container2 {
    padding-left: 10rem;
    padding-right: 10rem;
}

#section3 h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    line-height: 96px;
}

#container2 .card .card-body {
    padding-left: 3rem;
    padding-right: 3rem;
}

#section3 .card {
    box-shadow: -8px -8px 16px rgba(0, 0, 0, 0.08), 8px 8px 16px rgba(0, 0, 0, 0.08);
    border-radius: 17.9006px;
}

#section3 .card p{
    font-size: small;
}

#section3 .card img {
    width: 4rem;
    height: 4rem;
}

#section4 .col {
    background: #F7F7F7;
    border-radius: 40px;
    height: 31rem;
}

@media (max-width:768px) {
    #section4 .col {
        height: 36rem;
    }
}

@media (max-width:684px) {
    #section4 .col {
        height: 43rem;
    }
}

@media (max-width:576px) {
    #section4 #col1 {
        height: 29rem;
    }
    #section4 .col {
        height: 33rem;
    }
}

/* #section4 #sec-col2 .row{
    padding-right: 4rem;
    padding-right: 4rem;
} */

#section4 #col2 p {
    color: #707070;
    /* font-family: 'Inter'; */
    font-style: normal;
    font-weight: 500;
    font-size: small;
    line-height: 28px;
}


@media (max-width:500px) {
    #container2 {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    #container2 .card .card-body {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media (max-width:1040px) {
    #container2 {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

#section5 .row {
    background: #F0F9FD;
    border-radius: 40px;
}
#section5 .card p {
    font-size: small;
    color: #888888;
}

#section5 .card img {
    width: 5.5rem;
    height: 5.5rem;
}

#section6 .card-text p {
    font-size: smaller;
}

#section6 .card-group .card {
    box-shadow: -8px -8px 16px rgba(0, 0, 0, 0.1), 8px 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    border: none;

}

#section6 .card-footer {
    background-color: white;
    border:none;
    border-radius: 20px;
}

#section6 .card-img-top {
    margin-top: -2rem;
}



#swiper2 {
    /* background-color: #418DDC; */

}

#swiper2 .card-footer {
    background-color: white;
}

#swiper2 .card {
    border-radius: 10px;
    height: 32rem;
    width: 25rem;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width:450px) {
    #swiper2 .card {
        height: 82rem;
        width: 10rem;
    }
}

#swiper2 .card p{
    color: #878787;
}

#swiper2 #card1 p {
    color: white;
}

#swiper2 .card #image {
    border-bottom: 1.5rem solid #F4F4F4;
}

#swiper2 .card:hover {
    transform: scale(1.05);
}



.swiper-scrollbar-drag {
    background: yellow;
    /* box-shadow: 0px 1px 1px #000; */
}


#section7 {
    background-image: url('../img/Group\ 13973.png');
    background-repeat: no-repeat;
    /* background-size: auto; */
    background-position: center; 
    width: 100%;
    background-size: 100% 100%; 
    /* height: 100vh; */
    /* padding-top: 5rem; */
    /* height: 100%; */
}

#section7 .card {
    background-color: #4F45B6;
    border-radius: 10px;
}

#section7 .card h1{
    font-size: 4rem;
}


#section6 .card-body {
    padding-left: 2rem;
}

#section6 #card1 .card-body p {
    color: #4C3FFC;
}

#section6 #card3 .card-body p {
    color: #4C3FFC;
}

#section6 #card2 {
    background-color: #4C3FFC;
}

#section6 #card2 .card-footer {
    background-color: #4C3FFC;
}

#section6 #card2 .card-body p{
    color: white;
}

#section6 .btn {
    border-radius: 10px;
}

#section6 .button2 {
    border: 1px solid #4C3FFC;
    color: #4C3FFC;
}

#section6 .button2:hover {
    background-color: #4C3FFC;
    color: white;
}

#section6 .button3 {
    background-color: #4C3FFC;
    color: white;
}


#learn_more {
    border-radius: 22.288px;
    background-color: #0766F4;
    color: white;
}

#section3 .card:hover {
    transform: scale(1.05);
}

#section5 .row .card-group {
    padding-left: 15rem;
    padding-right: 15rem;
}

@media (max-width:1200px) {
    #section5 .row .card-group {
        padding-left: 10rem;
        padding-right: 10rem;
    }
}

@media (max-width:1050px) {
    #section5 .row .card-group {
        padding-left: 7rem;
        padding-right: 7rem;
    }
}

@media (max-width:958px) {
    #section5 .row .card-group {
        padding-left: 5rem;
        padding-right: 5rem;
    }
}

@media (max-width:900px) {
    #section5 .row .card-group {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

@media (max-width:850px) {
    #section5 .row .card-group {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

@media (max-width:750px) {
    #section5 .row .card-group {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media (max-width:700px) {
    #section5 .row .card-group {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}

@media (max-width:620px) {
    #section5 .row .card-group {
        padding-left: 0.01rem;
        padding-right: 0.01rem;
    }
    
}

@media (max-width:575px) {
    #section5 .row {
        padding-left: 3.1rem;
    }
}

.card:hover {
    transform: scale(1.05);
}