#learn {
    color: #5C64AC;
    background-color: #F7F7F7;
    border-radius: 5px;
}
#learn:hover {
    color: white;
    background-color: #5C64AC;
    border-radius: 5px;
}

.btn {
    color: #5C64AC;
    background-color: #F7F7F7;
    border-radius: 5px;
}

.btn2 {
    color: #5C64AC;
    background-color: #F7F7F7;
    border-radius: 5px;
}

#btn2 {
    color: #5C64AC;
    background-color: #F7F7F7;
    border-radius: 5px;
}

.btn:hover {
    color: white;
    background-color: #5C64AC;
    border-radius: 5px;
}

#button {
    color: white;
    background-color: #5C64AC;
    border-radius: 5px;
}

#container7 .card-footer {
    background-color: white;
    border: none;
}


#container2 .card {
    box-shadow: -8px -8px 16px rgba(0, 0, 0, 0.2), 8px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 20px;  
}

#container2 .card.mb-3 {
    padding-left: 3rem;
    padding-right: 3rem;
}


#container2 .card p{
    font-size: small;
}


#sectionw2 {
    background-color: #7C89E1;
}


#container2 {
    /* padding-left: 10rem;
    padding-right: 10rem; */
    /* background-color: #7C89E1; */
    /* padding-top: 1rem;
    margin-top: -9rem; */
}
#container2 .card .card-body {
    padding-left: 3rem;
    padding-right: 3rem;
}
#container2 .card-text p {
    font-size: smaller;
}

#container2 .card-group .card {
    box-shadow: -8px -8px 16px rgba(0, 0, 0, 0.1), 8px 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    border: none;

}

#container2 .card-footer {
    background-color: white;
    border:none;
    border-radius: 20px;
}

#container2 .card-img-top {
    margin-top: -2rem;
}


#container2 .card-body {
    padding-left: 2rem;
}

#container2 #card1 .card-body p {
    color: #5C64AC;
}

#container2 #card3 .card-body p {
    color: #5C64AC;
}

#container2 #card2 {
    background-color: #5C64AC;
}

#container2 #card2 .card-footer {
    background-color: #5C64AC;
}

#container2 #card2 .card-body p{
    color: white;
}

#container2 .btn {
    border-radius: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
}
#container2 .btn2 {
    border-radius: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: 1px solid #5C64AC;
}

#container2 .button2 {
    border: 1px solid #5C64AC;
    color: #5C64AC;
}

#container2 .button2:hover {
    background-color: #5C64AC;
    color: white;
}

#container2 .button3 {
    background-color: #5C64AC;
    color: white;
}


#container6 {
    background-color: #5C64AC;
}