
.hello[data-scroll="anim1"] .h1 {
  background: red;
  opacity: 1;

}

.hello[data-scroll="anim2"] .h2 {
  background: green;
  opacity: 1;
}
.hello[data-scroll="anim3"] .h3 {
  background: cyan;
  opacity: 1;
}
.hello[data-scroll="anim4"] .h4 {
  background: aqua;
  opacity: 1;
}

html:not([data-scroll='0']) .hello {
  position: fixed;
}





/* html[data-scroll="anim5"] .test {
  background: lightblue;
  opacity: 1;
  top: -100px;
  opacity: 0;
} */

/* main {
  max-width: 980px;
  margin: 0 0 0 250px;
  padding: 10px;
  background: #ffff;
} */


/* 
.card:hover {
  transform: scale(1.05);
} */